<header>
    <div class="header__content container">
        <a href="/">
            <img src="assets/img/logo/logo.svg" alt="logo" class="header__logo">
        </a>
        {{#unless isBanned}}
            <nav class="header__nav">
                {{#unless isLogged}}
                <div class="header__menu">
                    <a href="/#plans">Тарифы</a>
                    <a href="/">Почему мы?</a>
                    <a href="/#faq">Вопрос-ответ</a>
                </div>
                {{/unless }}
                <div class="header__user-btns">
                    {{#if isLogged}}
                        <a href="/profile" class="btn">Профиль</a>
                        {{#if isAdmin}}
                            <a href="/admin" class="btn">Админ-панель</a>
                        {{/if}}
                        <a href="/logout" class="btn">Выйти</a>
                    {{/if}}
                    {{#unless isLogged}}
                        <button id="sign-in" class="btn-modal">Войти</a>
                        <button id="sign-up" class="btn-modal">Регистрация</a>
                    {{/unless}}
                </div>
            </nav>
            <button class="burger-menu__btn">
                <img src="assets/img/icons/menu.svg" alt="burger-menu_icon">
            </button>
        {{/unless }}
    </div>
</header>

{{#unless isBanned}}
<div class="burger-menu">
    <nav class="burger-menu__nav">
        {{#unless isLogged}}
        <div class="burger-menu__menu">
            <a href="">Тарифы</a>
            <a href="">Почему мы?</a>
            <a href="">Вопрос-ответ</a>
        </div>
        {{/unless }}
        <div class="burger-menu__user-btns">
            {{#if isLogged}}
                <a href="/profile" class="btn">Профиль</a>
                {{#if isAdmin}}
                    <a href="/admin" class="btn">Админ-панель</a>
                {{/if}}
                <a href="/logout" class="btn">Выйти</a>
            {{/if}}
            {{#unless isLogged}}
                <button id="sign-in" class="btn-modal">Войти</a>
                <button id="sign-up" class="btn-modal">Регистрация</a>
            {{/unless}}
        </div>
    </nav>
</div>
{{/unless }}