<dialog id="sign-in-modal" class="interactives_modal">
    <div class="modal">
        <div class="modal__header">
            <h1>Вход</h1>
            <button class="close-modal">
                <img src="assets/img/icons/close--white.svg" alt="close_icon">
            </button>
        </div>
        <div class="modal__content">
            <form method="post" id="logForm">
                <div class="input_container">
                    <input type="text" class="form__input" placeholder=" " name="email">
                    <label for="">E-mail</label>
                </div>
                <div class="input_container">
                    <input type="password" class="form__input" placeholder=" " name="pass_1">
                    <label for="">Пароль</label>
                </div>
                <input type="submit" value="Войти">
            </form>
        </div>
        <div class="modal__footer">
        </div>
    </div>
</dialog>

<script src="assets/js/log.js"></script>