@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans&display=swap');
@import url("1250.css") screen and (min-width: 1250px);
@import url("320.css") screen and (max-width: 1249px);

:root {
    --background-color: #ffffff;
    --corporative-color:#F24333;
    --big-table-cell-color--acent:#FEEFEE;
    --icons-color--dark:#2D2C3A;
    --icons-color--lamp-hover: rgb(238, 215, 12);
    --icons-color---money-hover:#0db90d;
    --text-color--1:#121212;
    --text-color--2:#555555;
    --text-color--3:#7C7C7C;
    --text-color--contrast-1:#FFFFFF;
    --input-border-color--active:#616161;
    --input-border-color--non-active:#E1E1E1;
    --input-text-color--non-active:#9A9A9A;
    --modal-color--light-1:#FBFBFB;
    --modal-color--bg:#0e0e0fec;
    --text-color--valid:#4BD12A;
    --text-color--invalid:#E82222;
    --text-color--link:#216FE5;
    --button-color--hover:#F5F5F5;
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color--1);
    font-family: 'Inter', sans-serif;
    transform-style: preserve-3d;
}