/* inputs */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input {
    height: 42px;
    background: none;
    outline: none;
    border: 1px solid var(--input-border-color--non-active);
    color: var(--text-color--1);
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 16px;
}
.input_container {
    position: relative;
    height: 42px;
}
.input_container + .input_container {
    margin-top: 16px;
}
.form__input {
    position: absolute;
    width: 100%;
    z-index: 1;
    top:0;
    left: 0;
}
.input_container label {
    position: absolute;
    top: 10px;
    left: 14px;
    background: var(--modal-color--light-1);
    transition: .15s ease-out;
    padding-inline: 3px;
}
.form__input:focus + label {
    top: -10px;
    left: 14px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    color: var(--corporative-color);
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ label {
    top: -10px;
    left: 14px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
}
.form__input:not(:placeholder-shown).invalid.form__input:not(:focus).invalid + label {
    top: -10px;
    left: 14px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    color: var(--text-color--invalid);
}
.form__input:not(:placeholder-shown).valid.form__input:not(:focus).valid + label {
    top: -10px;
    left: 14px;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    color: var(--text-color--valid);
}
.form__input:focus {
    border: 1px solid var(--corporative-color);
}
.form__input.invalid {
    border: 1px solid var(--text-color--invalid);
}
.form__input.valid {
    border: 1px solid var(--text-color--valid);
}
.input__err-img {
    height: 100%;
    display: flex;
    width: fit-content;
    position: absolute;
    right: 7px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.input__err-img img {
    width: 20px;
    height: 20px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.input__status-text {
    margin-top: 3px;
    font-size: 14px;
    color: var(--text-color--invalid);
}

input[type="submit"],button[type="submit"] {
    border: none;
    height: fit-content;
    width: 100%;
    background: var(--corporative-color);
    color: var(--text-color--contrast-1);
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 20px;
}
input[type="checkbox"] {
    height: fit-content;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 12px 20px;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}

header {
    padding: 20px 0;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 73px;
}
header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__user-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__user-btns button {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}
.header__user-btns button#sign-in {
    background:  var(--corporative-color);
    color:var(--text-color--contrast-1);
}
.header__user-btns button#sign-up {
    border: 1px solid var(--corporative-color);
}

footer {
    margin-top: 150px;
    width: 100%;
    padding: 35px 0px 75px 0px;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__links {
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.footer__links a + a {
    margin-top: 7px;
}
.footer__links h3 + a, .footer__links h3 + .payment-companies-logos_container {
    margin-top: 14px;
}
.payment-company-logo {
    max-height: 50px;
}
.payment-companies-logos_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}


/* modals--full-screen */
.interactives_modal:not(.hidden) {
    background: var(--modal-color--bg);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 5;
}
.modal {
    background: var(--background-color);
    border-radius: 20px;
    overflow: hidden;
}
#sign-up-modal .modal,#sign-in-modal .modal {
    width: 500px;
}
#subscribe-info-modal .modal{
    width: 1000px;
}
.modal__header {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    width: 100%;
    padding: 12px 17px;
    background: var(--corporative-color);
}
.modal__header h1 {
    color: var(--text-color--contrast-1);
    font-size: 26px;
    font-weight: 600;
}
.close-modal {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.close-modal img {
    width: 18px;
    height: 18px;
}
#sign-up-modal .modal__content,#sign-in-modal .modal__content {
    padding: 45px 60px 60px 60px;
}
#subscribe-info-modal .modal__content{
    padding: 45px 30px 35px 30px;
}
#subscribe-info-modal.interactives_modal {
    overflow: auto;
    padding: 100px 0;
    align-items: flex-start;
}
.subscribe__name {
    font-size: 40px;
    font-weight: 600;
}
.subscribe__desc {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.subscribe__benefits {
    margin-top: 30px;
}
.benefit {
    display: flex;
    align-items: center;
    gap: 15px;
}
.benefit + .benefit {
    margin-top: 18px;
}
.benefit img {
    width: 40px;
    height: 40px;
}
.benefit span {
    font-size: 26px;
    font-weight: 500;
}
.ordering-pay {
    padding-top: 45px;
}
.ordering-pay h3 {
    font-size: 30px;
    font-weight: 700;
}
.ordering-pay h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.ordering-pay__content {
    margin-top: 20px;
}
.payments-total_container {
    width: 100%;
    display: grid;
    grid-template-columns: 515px 350px;
    justify-content: space-between;
}
.promo-code_form {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 350px 150px;
    column-gap: 15px;
}
.promo-code_form .input_container{
    margin-top: 0;
    height: 42px;
}
.promo-code_form .input_container label{
    background: var(--background-color);
}
.promo-code_form .activate-promo-code_btn {
    background: var(--corporative-color);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color--contrast-1);
    margin: 0;
    height: 42px;
}
.pay-methods {
    margin-top: 25px;
    display: flex;
    gap: 14px;
    height: 80px;
}
.pay-method {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid var(--input-border-color--non-active);
}
.pay-method.active {
    border: 1px solid var(--corporative-color);
}
.pay-method p {
    font-size: 16px;
    font-weight: 500;
}
.payment-logos_container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.ordering-pay .payments_container {
    margin-top: 30px;
}
.total {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--icons-color--dark);
    width: 100%;
    height: fit-content;
}
.total__text_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.total-text {
    font-size: 36px;
    font-weight: 700;
}
.total__price_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.total__old-price {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color--3);
    text-decoration:    line-through;
}
.total__actual-price {
    font-size: 36px;
    font-weight: 500;
}
.price-currency-period {
    font-size: 20px;
    font-weight: 400;
}
.pay-btn {
    padding: 10px 25px;
    background: var(--corporative-color);
    color: var(--text-color--contrast-1);
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
    width: 100%;
    margin-top: 20px;
}
.mini-text {
    color: var(--text-color--3);
    margin-top: 3px;
    font-size: 10px;
    font-weight: 400;
}
.mini-text__link {
    color: var(--text-color--3);
    text-decoration: underline;
}
.mini-text__link:hover {
    color: var(--text-color--2);
    text-decoration: underline;
}


/* index for unsubscribed/unloged users */
.banner {
    padding-top: 100px;
}
.banner__content {
    display: flex;
    align-items: center;
    gap: 60px;
}
.banner__text ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner__img {
    height: 350px;
}
.banner__subtitle {
    font-size: 30px;
    font-weight: 500;
}

.benefits {
    padding-top: 100px;
}
.benefits__content h2 {
    margin-bottom: 50px;
}
.benefits_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits_item img {
    width: 100px;
    height: 100px;
}
.benefits_item span {
    font-size: 24px;
    font-weight: 500;
    width: 350px;
}
.benefits__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.plans {
    padding-top: 100px;
}
.plans h2 {
    margin-bottom: 35px;
}
.plans__viewpoint {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.plans .swiper {
    display: none;
}
.plans__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    column-gap: 50px;
}
.plan {
    overflow: hidden;
    padding: 12px;
    background: var(--modal-color--light-1);
    border-radius: 10px;
}
.plan h3 {
    font-size: 36px;
    font-weight: 600;
}
.plan__description {
    margin-top: 5px;
}
.plan__price {
    margin-top: 20px;
}
.plan__price > .price-num {
    font-size: 36px;
    font-weight: 900;
}
.plan__btn {
    width: 100%;
    border-radius: 100px;
    background: var(--corporative-color);
    color: var(--text-color--contrast-1);
    border: none;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
.recommend {
    padding: 0;
    padding-bottom: 12px;
    border: 1px solid var(--corporative-color);
}
.recommend .plan__text {
    padding-inline: 12px;
}
.plan-reccommend__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 26px;
    font-weight: 600;
    background: var(--corporative-color);
    color: var(--text-color--contrast-1);
    margin-bottom: 42px;
    border-radius: 10px 10px 0 0;
}
.plan-reccommend__header::before {
    content: '';
    
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    
    display: inline-block;
    
    width: calc(100% + 150px);
    height: 50px;
    
    background: var(--corporative-color);
}

.faq {
    padding-top: 100px;
}
.faq__content h2 + .faq__item{
    margin-top: 35px;
}
.faq__item + .faq__item {
    margin-top: 12px;
}
.faq__item {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 600px;
    border-radius: 10px;
    border: 1px solid var(--corporative-color);
    padding: 16px;
    padding-top: 0;
    transition: all 0.3s ease-out;
}
.faq__answer{
    position: absolute;
    width: calc(100% - 32px);
    top: 0px;
    opacity: 0%;
    margin-top: 12px;
    z-index: 1;
}
.faq__answer p+p {
    margin-top: 10px;
}
.faq__answer p.mini-text {
    margin-top: 3px;
}
.faq__icon {
    width: 22px;
    height: 22px;
}
.faq__question-btn {
    padding-top: 12px;
    position: relative;
    background: var(--background-color);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.faq__question {
    font-size: 24px;
    font-weight: 500;
}


/* index for subscribed users */
.search-res {
    padding-top: 50px;
}
.search-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--input-border-color--non-active);
    width: 650px;
    padding-right: 16px;
}
.search-product input[type="search"] {
    padding: 12px 16px;
    padding-right: 0;
    border: none;
    background: none;
    width: 100%;
}
.search-btn img{
    width: 18px;
    height: 18px;
}
.res-num_upload-more {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    align-items: center;
}
button.upload-more {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--corporative-color);
    gap: 10px;
}
button.upload-more p {
    color: var(--text-color--contrast-1);
    font-size: 14px;
    font-weight: 400;
}
.res-text {
    font-size: 20px;
    font-weight: 400;
}
.res-num-text {
    font-size: 26px;
    font-weight: 900;
}
.search-querry-text {
    text-decoration-line: underline;
}
.results_container {
    margin-top: 35px;
}
.result + .result {
    margin-top: 12px;
}
.result.recommend + .result.recommend {
    margin-top: 26px;
}
.result.recommend + .result {
    margin-top: 16px;
}
.result.recommend {
    position: relative;
    padding: 16px;
    border-radius: 20px;
    width: fit-content;
}
.result__label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline: 7px;
    background: var(--background-color);
    position: absolute;
    top: -12px;
    left: 30px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.result__label img{
    width: 16px;
    height: 16px;
}
.result__label span {
    font-size: 14px;
    font-weight: 500;
}
.result__container {
    display: flex;
    align-items: center;
    gap: 5px;
}
.result__fav_btn, .result__seller-info, .result__product-info {
    border: 1px solid var(--input-border-color--non-active);
    border-radius: 5px;
    height: 35px;
}
.result__fav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
}
.result__fav_btn img {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
    width: 20px;
    height: 20px;
}
.result__seller-info {
    width: 350px;
    display: flex;
    gap: 7px;
    align-items: center;
    padding-inline: 12px;
}
.result__seller-info {
    font-size: 16px;
    font-weight: 400;
}
.result__seller-info img {
    width: 20px;
    height: 20px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.result__product-info {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
}
.product-name-text {
    font-size: 16px;
    font-weight: 400;
}
.product-price-text {
    font-size: 18px;
    font-weight: 600;
}
.currency-type-text {
    font-size: 14px;
    font-weight: 600;
}
.marketplace_btn {
    height: 35px;
    padding-inline: 12px;
    border-radius: 100px;
    position: relative;
    background: linear-gradient(262deg, #7700A3 11.15%, #CB01B8 91.36%);
    width: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}
.marketplace_btn:hover{
    width: 65px;
}
.marketplace_btn:hover img{
    left: 40px;
    opacity: 100%;
}
.marketplace_btn img {
    transition: all 0.3s ease-out;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    left: 12px;
    position: absolute;
    opacity: 0%;
}
.marketplace_btn p {
    color: var(--text-color--contrast-1);
}


/* Profile page */
.profile {
    padding-top: 50px;
}
.profile__content h1{
    font-size: 36px;
    font-weight: 700;
}
.page-name-status {
    display: flex;
    align-items: center;
    gap: 35px;
}
.status {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid var(--corporative-color);
}
.status span {
    font-size: 20px;
    font-weight: 500;
}
.status img {
    width: 20px;
    height: 20px;
}
.profile__container {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    gap: 100px;
}
.profile__container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.profile__item + .profile__item {
    margin-top: 50px;
}
.subscribe-info_container {
    width: 300px;
    border-radius: 10px;
    border: 1px solid var(--corporative-color);
    background: var(--modal-color--light-1);
    padding: 12px;
}
.subscribe-status {
    color: var(--text-color--valid, #4BD12A);
    font-size: 18px;
    font-weight: 400;
}
.subscribe-name {
    font-size: 36px;
    font-weight: 600;
    margin-top: 5px;
}
.old-price {
    margin-top: 20px;
    color: var(--text-color--2);
    font-size: 24px;
    font-weight: 400;
    text-decoration:line-through;
}
.new-price {
    font-size: 20px;
    font-weight: 400;
}
.price-num {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}
.profile__item form:not(.add-payment__form) {
    width: 400px;
}
.profile__interactives_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--text-color--link);
    border-radius: 10px;
    padding: 8px 12px;
    width: 350px;
}
.profile__interactives_btn span {
    color: var(--text-color--link);
    font-size: 18px;
    font-weight: 500;
}
.profile__interactives_btn.delete {
    border: 1px solid var(--text-color--invalid);
}
.profile__interactives_btn.delete span {
    color: var(--text-color--invalid);
}
.profile__interactives_btn + .profile__interactives_btn {
    margin-top: 10px;
}
.payments_container {
    display: grid;
    grid-template-columns: repeat(2,205px);
    column-gap: 16px;
    row-gap: 16px;
}
.payment {
    border-radius: 10px;
    border: 1px solid var(--input-border-color--non-active);
    padding: 12px;
}
.logo-delete_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-delete_container > img {
    height: 25px;
}
.logo-delete_container > button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.logo-delete_container > button > img {
    width: 18px;
    height: 18px;
}
.card-num {
    margin-top: 14px;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.card-holder-name {
    margin-top: 7px;
    font-size: 16px;
    font-weight: 400;
}
.card-exp-date {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
}
.add-payment {
    margin-top: 20px;
    width: 100%;
}
.add-payment__open-btn {
    width: 100%;
    background: var(--icons-color--dark);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    height: 50px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.icon-headline {
    display: flex;
    align-items: center;
    gap: 7px;
}
.icon-headline > img {
    width: 22px;
    height: 22px;
}
.icon-headline > span {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color--contrast-1);
}
.add-payment__content {
    transition: all 0.3s ease-out;
    width: 100%;
    padding: 0;
    border-radius: 0 0 16px 16px;
    border: none;
    border-top: none;
}
.add-payment__form {
    display: none;
    width: 100%;
    opacity: 0%;
}
.add-payment__form.opened{
    display: block;
    opacity: 100%;
}
.exp-date-card-code {
    margin-top: 14px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}
.exp-date-card-code .input_container {
    margin-top: 0;
}
.chechbox_container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.chechbox_container input[type="checkbox"] {
    width: 14px;
    height: 14px;
}
.chechbox_container span {
    font-size: 14px;
    font-weight: 500;
}


.admin {
    padding-top: 50px;
}
.admin__content h1{
    font-size: 36px;
    font-weight: 700;
}
.admin__content h2{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.admin__container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.user {
    display: grid;
    column-gap: 5px;
    align-items: center;
    height: 38px;
    grid-template-columns: 5fr 2fr;
    position: relative;
}
.user__email-interactives {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 12px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color--non-active);
    background: var(--background-color);
    height: 100%;
}
.user__interactives_btn {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__interactives_btn img {
    width: 18px;
    height: 18px;
}
.user__email {
    display: flex;
    align-items: center;
    gap: 3px;
}
.user__email span,.user__subscribe span{
    font-size: 16px;
    font-weight: 400;
}
.user__email img,.user__subscribe img{
    width: 20px;
    height: 20px;
}
.user__subscribe {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline: 12px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color--non-active);
    background: var(--background-color);
    height: 100%;
}
.admin__container .user:nth-child(4n-1) .user__email-interactives,.admin__container .user:nth-child(4n-1) .user__subscribe,.admin__container .user:nth-child(4n) .user__email-interactives,.admin__container .user:nth-child(4n) .user__subscribe{
    background: var(--big-table-cell-color--acent);
}

.user__modal {
    top: 36px;
    left: 8px;
    background: var(--modal-color--light-1);
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
}
.user__modal-item {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 14px 16px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
    transition: 0.15s ease-in;
}
.user__modal-item > span{
    font-size: 16px;
    font-weight: 400;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.user__modal-item:hover {
    background:var(--button-color--hover);
}
.user__modal-item > img{
    width: 16px;
    height: 16px;
}
.user__modal-item.delete-user span{
    color: var(--text-color--invalid);
}
.hidden {
    display: none;
}