/* [to-do] import (for adaptive)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans&display=swap');


:root {
    --corporative-color:#F24333;
    --icons-color--dark:#2D2C3A;
    --text-color-dark-1:#121212;
    --text-color-dark-2:#555555;
    --text-color-dark-3:#7C7C7C;
    --text-color-light-1:#FFFFFF;
    --input-border-color--active:#616161;
    --input-border-color--non-active:#E1E1E1;
    --input-text-color--non-active:#9A9A9A;
    --modal-color--light-1:#FBFBFB;
    --modal-color--bg:#2d2c3a30;
    --text-color--valid:#4BD12A;
    --text-color--invalid:#E82222;
    --text-color--link:#216FE5;
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color-dark-1);
    font-family: 'Inter', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}

/* inputs */
input {
    background: none;
    outline: none;
    border: 1px solid var(--input-border-color--non-active);
    color: var(--input-text-color--non-active);
    border-radius: 10px;
    padding: 12px 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 12px 20px;
}
button {
    border: none;
    background: none;
    outline: none;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}

header {
    padding: 20px 0;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 73px;
}
header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__user-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__user-btns a.btn.sign-in {
    background:  var(--corporative-color);
    color:var(--text-color-light-1);
}
.header__user-btns a.btn.sign-up {
    border: 1px solid var(--corporative-color);
}

footer {
    margin-top: 150px;
    width: 100%;
    padding: 35px 0px 75px 0px;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__links {
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.footer__links a + a {
    margin-top: 7px;
}
.footer__links h3 + a, .footer__links h3 + .payment-companies-logos_container {
    margin-top: 14px;
}
.payment-company-logo {
    max-height: 50px;
}
.payment-companies-logos_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}


/* index for unsubscribed/unloged users */
.banner {
    padding-top: 100px;
}
.banner__content {
    display: flex;
    align-items: center;
    gap: 60px;
}
.banner__text ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner__img {
    height: 350px;
}
.banner__subtitle {
    font-size: 30px;
    font-weight: 500;
}

.benefits {
    padding-top: 100px;
}
.benefits__content h2 {
    margin-bottom: 50px;
}
.benefits_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits_item img {
    width: 100px;
    height: 100px;
}
.benefits_item span {
    font-size: 24px;
    font-weight: 500;
    width: 350px;
}
.benefits__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.plans {
    padding-top: 100px;
}
.plans__container {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    column-gap: 50px;
}
.plan {
    padding: 12px;
    background: var(--modal-color--light-1);
    border-radius: 10px;
}
.plan h3 {
    font-size: 36px;
    font-weight: 600;
}
.plan__description {
    margin-top: 5px;
}
.plan__price {
    margin-top: 20px;
}
.plan__price > .price-num {
    font-size: 36px;
    font-weight: 900;
}
.plan__btn {
    width: 100%;
    border-radius: 100px;
    background: var(--corporative-color);
    color: var(--text-color-light-1);
    border: none;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
.recommend {
    padding: 0;
    padding-bottom: 12px;
    border: 1px solid var(--corporative-color);
}
.recommend .plan__text {
    padding-inline: 12px;
}
.plan-reccommend__header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 26px;
    font-weight: 600;
    background: var(--corporative-color);
    color: var(--text-color-light-1);
    margin-bottom: 42px;
    border-radius: 10px 10px 0 0;
}

.faq {
    padding-top: 100px;
}
.faq__content h2 + .faq__item{
    margin-top: 35px;
}
.faq__item + .faq__item {
    margin-top: 12px;
}
.faq__item {
    width: 600px;
    border-radius: 10px;
    border: 1px solid var(--corporative-color);
    padding: 16px;
}
.faq__question-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__question {
    font-size: 24px;
    font-weight: 500;
}
.faq__answer {
    margin-top: 10px;
}
.faq__btn {
    background: none;
    border: none;
    outline: none;
}


/* index for subscribed users */
.search-res {
    padding-top: 50px;
}
.search-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid var(--input-border-color--non-active);
    width: 650px;
    padding-right: 16px;
}
.search-product input[type="search"] {
    padding: 12px 16px;
    padding-right: 0;
    border: none;
    background: none;
    width: 100%;
}
.search-btn img{
    width: 18px;
    height: 18px;
}
.res-num_upload-more {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    align-items: center;
}
button.upload-more {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--corporative-color);
    gap: 10px;
}
button.upload-more p {
    color: var(--text-color-light-1);
    font-size: 14px;
    font-weight: 400;
}
.res-text {
    font-size: 20px;
    font-weight: 400;
}
.res-num-text {
    font-size: 26px;
    font-weight: 900;
}
.search-querry-text {
    text-decoration-line: underline;
}
.results_container {
}
.result {
}
.result__container {
}
.result__fav_btn {
}
.result__seller-info {
}
.result__product-info {
}
.product-name-text {
}
.product-price-text {
}
.currency-type-text {
}
.marketplace_btn {
    height: 35px;
    padding-inline: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background: linear-gradient(262deg, #7700A3 11.15%, #CB01B8 91.36%);
}
.marketplace_btn p {
    color: var(--text-color-light-1);
}