<section class="admin">
    <div class="admin__content container">
        <div class="page-name-status">
            <h1>
                Админ-панель
            </h1>
            <!-- <div class="status">
                <img src="/assets/img/icons/badge.svg" alt="badge_icon">
                <span>Администратор</span>
            </div> -->
        </div>
        <h2>Пользователи</h2>
        <div class="admin__container">
            {{#each users}}
                <div class="user" data-uid="{{this._id}}">
                    <div class="user__modal hidden">
                        {{#when this.role_id 'noteq' 1}}
                            <button class="user__modal-item block-user">
                                <img src="/assets/img/icons/block.svg" alt="block_icon">
                                <span>Заблокировать пользователя</span>
                            </button>
                        {{/when }}
                        {{#when this.role_id 'eq' 1}}
                            <button class="user__modal-item unblock-user">
                                <img src="/assets/img/icons/undo.svg" alt="unblock_icon">
                                <span>Разблокировать пользователя</span>
                            </button>
                        {{/when }}
                        <button class="user__modal-item delete-user">
                            <img src="/assets/img/icons/delete--red.svg" alt="delete-user_icon">
                            <span>Удалить пользователя</span>
                        </button>
                    </div>
                    <div class="user__email-interactives">
                        <button class="user__interactives_btn">
                            <img src="/assets/img/icons/more_vert.svg" alt="more_icon">
                        </button>
                        <div class="user__email">
                            <img src="/assets/img/icons/person.svg" alt="user_icon">
                            <span>{{this.email}}</span>
                        </div>
                    </div>
                    <div class="user__subscribe">
                        <img src="/assets/img/icons/card_membership.svg" alt="subscribe_icon">
                        <span>Базовая+</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="/assets/js/delete.js"></script>
<script src="/assets/js/blockUser.js"></script>
<script src="/assets/js/unblockUser.js"></script>