<section class="search-res">
    <div class="search-res__content container">
        <form method="post" class="search-product">
            <input type="search" name="s">
            <button class="search-btn" type="submit">
                <img src="assets/img/icons/search.svg" alt="search_icon">
            </button>
        </form>
        <div class="res-num_upload-more">
            {{!-- <button class="upload-more">
                <img src="assets/img/icons/download.svg" alt="download_icon">
                <p>Загрузить ещё</p>
            </button> --}}
        </div>
        <div class="results__container">
            
        </div>
    </div>
</section>
<script src="/assets/js/get_products.js"></script>