<!-- <section class="banner">
    <div class="banner__content container">
        <div class="banner__text">
            <div class="banner__item">
                <h1>Найди лучшую цену</h1>
                <span class="banner__subtitle">в 2 клика</span>
            </div>
            <div class="banner__item">
                <h1>Добавляй в избранное</h1>
                <span class="banner__subtitle">и отслеживай цену</span>
            </div>
            <div class="banner__item">
                <h1>Получай выгоду</h1>
                <span class="banner__subtitle">с первого месяца использования</span>
            </div>
        </div>
        <img src="assets/img/banner/banner-img.png" alt="banner-img" class="banner__img">
    </div>
</section> -->
<section class="benefits">
    <div class="benefits__content container">
        <h2>Почему мы?</h2>
        <div class="benefits__container">
            <div class="benefits_item">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="benefits__icon" id="lamp_icon">
                    <path d="M50 91.6667C48.1944 91.6667 46.5625 91.2326 45.1042 90.3646C43.6458 89.4965 42.5 88.3333 41.6667 86.875C39.375 86.875 37.4132 86.059 35.7812 84.4271C34.1493 82.7952 33.3333 80.8333 33.3333 78.5417V63.75C29.2361 61.0417 25.9549 57.4653 23.4896 53.0208C21.0243 48.5764 19.7917 43.75 19.7917 38.5417C19.7917 30.1389 22.7257 23.0035 28.5937 17.1354C34.4618 11.2674 41.5972 8.33334 50 8.33334C58.4028 8.33334 65.5382 11.2674 71.4062 17.1354C77.2743 23.0035 80.2083 30.1389 80.2083 38.5417C80.2083 43.8889 78.9757 48.75 76.5104 53.125C74.0451 57.5 70.7639 61.0417 66.6667 63.75V78.5417C66.6667 80.8333 65.8507 82.7952 64.2188 84.4271C62.5868 86.059 60.625 86.875 58.3333 86.875C57.5 88.3333 56.3542 89.4965 54.8958 90.3646C53.4375 91.2326 51.8056 91.6667 50 91.6667ZM41.6667 78.5417H58.3333V74.7917H41.6667V78.5417ZM41.6667 70.625H58.3333V66.6667H41.6667V70.625ZM40.8333 58.3333H46.875V47.0833L37.7083 37.9167L42.0833 33.5417L50 41.4583L57.9167 33.5417L62.2917 37.9167L53.125 47.0833V58.3333H59.1667C62.9167 56.5278 65.9722 53.8715 68.3333 50.3646C70.6944 46.8577 71.875 42.9167 71.875 38.5417C71.875 32.4306 69.7569 27.257 65.5208 23.0208C61.2847 18.7847 56.1111 16.6667 50 16.6667C43.8889 16.6667 38.7153 18.7847 34.4792 23.0208C30.2431 27.257 28.125 32.4306 28.125 38.5417C28.125 42.9167 29.3056 46.8577 31.6667 50.3646C34.0278 53.8715 37.0833 56.5278 40.8333 58.3333Z" fill="currentColor"/>
                </svg>
                <span>Простота использования</span>
            </div>
            <div class="benefits_item">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="benefits__icon" id="money_icon">
                    <path d="M58.3333 54.1667C54.8611 54.1667 51.9097 52.9514 49.4792 50.5208C47.0486 48.0903 45.8333 45.1389 45.8333 41.6667C45.8333 38.1944 47.0486 35.243 49.4792 32.8125C51.9097 30.3819 54.8611 29.1667 58.3333 29.1667C61.8055 29.1667 64.7569 30.3819 67.1875 32.8125C69.618 35.243 70.8333 38.1944 70.8333 41.6667C70.8333 45.1389 69.618 48.0903 67.1875 50.5208C64.7569 52.9514 61.8055 54.1667 58.3333 54.1667ZM29.1667 66.6667C26.875 66.6667 24.9132 65.8507 23.2812 64.2187C21.6493 62.5868 20.8333 60.625 20.8333 58.3333V25C20.8333 22.7083 21.6493 20.7465 23.2812 19.1146C24.9132 17.4826 26.875 16.6667 29.1667 16.6667H87.5C89.7917 16.6667 91.7535 17.4826 93.3854 19.1146C95.0173 20.7465 95.8333 22.7083 95.8333 25V58.3333C95.8333 60.625 95.0173 62.5868 93.3854 64.2187C91.7535 65.8507 89.7917 66.6667 87.5 66.6667H29.1667ZM37.5 58.3333H79.1667C79.1667 56.0417 79.9826 54.0799 81.6146 52.4479C83.2465 50.816 85.2083 50 87.5 50V33.3333C85.2083 33.3333 83.2465 32.5174 81.6146 30.8854C79.9826 29.2535 79.1667 27.2917 79.1667 25H37.5C37.5 27.2917 36.684 29.2535 35.0521 30.8854C33.4201 32.5174 31.4583 33.3333 29.1667 33.3333V50C31.4583 50 33.4201 50.816 35.0521 52.4479C36.684 54.0799 37.5 56.0417 37.5 58.3333ZM83.3333 83.3333H12.5C10.2083 83.3333 8.24652 82.5173 6.61457 80.8854C4.98263 79.2535 4.16666 77.2917 4.16666 75V29.1667H12.5V75H83.3333V83.3333Z" fill="currentColor"/>
                </svg>
                <span>Тарифные планы всего от 300 ₽/мес.</span>
            </div>
            <div class="benefits_item">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="benefits__icon" id="statistics_icon">
                    <path d="M8.33331 87.5V79.1667H91.6667V87.5H8.33331ZM12.5 75V45.8333H25V75H12.5ZM33.3333 75V25H45.8333V75H33.3333ZM54.1666 75V37.5H66.6666V75H54.1666ZM75 75V12.5H87.5V75H75Z" fill="currentColor"/>
                </svg>
                <span>Выгода в первый месяц использования</span>
            </div>
        </div>
    </div>
</section>
<section class="plans" id="plans">
    <div class="plans__content">
        <h2 class="container">Тарифные планы</h2>
        <div class="plans__viewpoint">
            <div class="plans__container">
                <div class="plan">
                    <div class="plan__text">
                        <h3>Базовый</h3>
                        <p class="plan__description">
                            Находите лучшие цены и экономьте на покупках.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">500</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="1">
                            Оформить
                        </button>
                    </div>
                </div>
                <div class="plan recommend">
                    <div class="plan-reccommend__header">
                        <p>Рекомендуем</p>
                    </div>
                    <div class="plan__text">
                        <h3>Базовый+</h3>
                        <p class="plan__description">
                            Находите лучшие цены и экономьте на покупках.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">650</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="2">
                            Оформить
                        </button>
                    </div>
                </div>
                <div class="plan">
                    <div class="plan__text">
                        <h3>Бизнес</h3>
                        <p class="plan__description">
                            Для тех, кто хочет делать это профессионально.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">1000</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="3">
                            Оформить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="plan__text">
                        <h3>Базовый</h3>
                        <p class="plan__description">
                            Находите лучшие цены и экономьте на покупках.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">500</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="1">
                            Оформить
                        </button>
                    </div>
                </div>
                <div class="swiper-slide recommend">
                    <div class="plan-reccommend__header">
                        <div class="plan-reccommend__header-bg"></div>
                        Рекомендуем
                    </div>
                    <div class="plan__text">
                        <h3>Базовый+</h3>
                        <p class="plan__description">
                            Находите лучшие цены и экономьте на покупках.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">650</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="2">
                            Оформить
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan__text">
                        <h3>Бизнес</h3>
                        <p class="plan__description">
                            Для тех, кто хочет делать это профессионально.
                        </p>
                        <p class="plan__price">
                            <span class="price-num">1000</span> ₽/мес.
                        </p>
                        <button id="subscribe-info" class="plan__btn btn-modal" data-plan-id="3">
                            Оформить
                        </button>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
        <!-- <div class="plans__slider-indicator">
            <button class="slider-indicator"></button>
            <button class="slider-indicator active"></button>
            <button class="slider-indicator"></button>
        </div> -->
</section>
<section class="faq" id="faq">
    <div class="faq__content container">
        <h2>Вопрос-ответ</h2>
        <div class="faq__item closed">
            <div class="faq__question-btn">
                <span class="faq__question">Почему сервис платный?</span>
                <img class="faq__icon" src="assets/img/icons/arrow_forward_ios.svg" alt="faq__btn">
            </div>
            <div class="faq__answer">
                <p>Вы платите нам за сервис, который заточен на Вашу выгоду при его использовании</p>
            </div>
        </div>
        <div class="faq__item closed">
            <div class="faq__question-btn">
                <span class="faq__question">Для кого данный сервис?</span>
                <img class="faq__icon" src="assets/img/icons/arrow_forward_ios.svg" alt="faq__btn">
            </div>
            <div class="faq__answer">
                <p>Благодаря простоте сервиса, он подходит для всех - от простых пользователей - до предпринимателей</p>
            </div>
        </div>
        <div class="faq__item closed">
            <div class="faq__question-btn">
                <span class="faq__question">В чём выгода использования?</span>
                <img class="faq__icon" src="assets/img/icons/arrow_forward_ios.svg" alt="faq__btn">
            </div>
            <div class="faq__answer">
                <p>В течении первого месяца использования пользователь окупает её и получает выгоду от использования.</p>
                <p>Среднее время окупаемости - 2 недели*</p>
                <p class="mini-text">*на основе данных опроса</p>
            </div>
        </div>
    </div>
</section>
<dialog id="subscribe-info-modal" class="interactives_modal">
    <div class="modal">
        <div class="modal__header">
            <h1>Оплата тарифа</h1>
            <button class="close-modal">
                <img src="assets/img/icons/close--white.svg" alt="close_icon">
            </button>
        </div>
        <div class="modal__content">
            <h2 class="subscribe__name">
                Базовый+
            </h2>
            <p class="subscribe__desc">
                Экономьте без ограничений.
            </p>
            <div class="subscribe__benefits">
                <div class="benefit">
                    <img src="assets/img/icons/all_inclusive--corporative-color.svg" alt="infinite_icon">
                    <span>Безлимитные переходы</span>
                </div>
                <div class="benefit">
                    <img src="assets/img/icons/heart_plus--corporative-color.svg" alt="heart-plus_icon">
                    <span>Можно добавлять в избранное</span>
                </div>
            </div>
            <section class="ordering-pay">
                <div class="ordering-pay__content">
                    <h3>Способ оплаты</h3>
                    <div class="payments-total_container">
                        <div class="ordering-payments">
                            <h4>Промокод</h4>
                            <form class="promo-code_form" method="post">
                                <div class="input-err-text">
                                    <div class="input_container">
                                        <input type="text" class="form__input" placeholder=" " name="promoCode">
                                        <label for="">Промокод</label>
                                        <div class="input__err-img hidden">
                                            <img src="assets/img/icons/warning--invalid-color.svg" alt="error_icon">
                                        </div>
                                    </div>
                                    <p class="input__status-text"></p>
                                </div>
                                <button type="submit" class="activate-promo-code_btn">Активировать</button>
                            </form>
                            <!-- <div class="pay-methods">
                                <button class="pay-method active">
                                    <img src="assets/img/payment_companies_logo/SBP_logo.svg" alt="">
                                </button>
                                <button class="pay-method">
                                    <p>Банковской картой</p>
                                    <div class="payment-logos_container">
                                        <img src="assets/img/payment_companies_logo/MIR_logo.svg" alt="MIR_logo">
                                        <img src="assets/img/payment_companies_logo/Mastercard_logo--no-label.svg" alt="Mastercard_logo--no-label">
                                        <img src="assets/img/payment_companies_logo/Visa_2021_logo.svg" alt="Visa_2021_logo">
                                    </div>
                                </button>
                            </div> -->
                            <div class="payment--current" id="bankCard">
                                <div class="payments_container">
                                    <div class="payment">
                                        <div class="logo-delete_container">
                                            <img src="assets/img/payment_companies_logo/Mastercard_logo--no-label.svg" alt="Mastercard_logo">
                                            <button>
                                                <img src="assets/img/icons/delete--red.svg" alt="delete_icon">
                                            </button>
                                        </div>
                                        <p class="card-num">1111 1111 1111 1111</p>
                                        <p class="card-holder-name">Niyaz Syntaxframe</p>
                                        <p class="card-exp-date">12/35</p>
                                    </div>
                                </div>
                                <div class="add-payment">
                                    <button class="add-payment__open-btn">
                                        <div class="icon-headline">
                                            <img src="assets/img/icons/add_card.svg" alt="add-card_icon">
                                            <span>Новая карта</span>
                                        </div>
                                        <img class="add-payment__btn-img" src="assets/img/icons/arrow_forward_ios--white.svg" alt="arrow_icon">
                                    </button>
                                    <div class="add-payment__content">
                                        <form method="post" class="add-payment__form">
                                            <div class="input_container">
                                                <input type="text" class="form__input" placeholder=" ">
                                                <label for="">Номер карты</label>
                                            </div>
                                            <div class="input_container">
                                                <input type="text" class="form__input" placeholder=" ">
                                                <label for="">Имя держателя</label>
                                            </div>
                                            <div class="exp-date-card-code">
                                                <div class="input_container">
                                                    <input type="text" class="form__input" placeholder=" ">
                                                    <label for="">Срок действия</label>
                                                </div>
                                                <div class="input_container">
                                                    <input type="text" class="form__input" placeholder=" ">
                                                    <label for="">CVV/CVC</label>
                                                </div>
                                            </div>
                                            <div class="chechbox_container">
                                                <input type="checkbox" name="">
                                                <span>Сохранить после оплаты</span>
                                            </div>
                                            <button name="add_payment" type="submit" class="add-payment__btn">
                                                Добавить карту
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <p class="total-text">
                                Итого:<span class="total__price_container"></span>
                            </p>
                            <button class="pay-btn">
                                Оплатить
                            </button>
                            <p class="mini-text">Оплачивая услугу, Вы соглашаетесь с <span><a class="mini-text__link" href="">Политикой конфиденциальности</a></span>,<span><a class="mini-text__link" href="">Политикой обработки персональных данных</a></span> и с <span><a class="mini-text__link" href="">Политикой использования сервиса</a></span></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal__footer">
        </div>
    </div>
</dialog>

<div id="banner-modal" class="banner_modal">
    <div class="modal">
        <h3>Скидка 100% по промокоду TEST</h3>
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="banner__close">
            <path id="close_2" d="M5.6 16.625L4.375 15.4L9.275 10.5L4.375 5.6L5.6 4.375L10.5 9.275L15.4 4.375L16.625 5.6L11.725 10.5L16.625 15.4L15.4 16.625L10.5 11.725L5.6 16.625Z" fill="currentColor"/>
        </svg>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="assets/js/swiper-slider.js"></script>
<script src="assets/js/modalBanner.js"></script>