<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>preloader}}
    {{>header}}

    {{{body}}}

    {{#unless isBanned}}
        {{>footer}}
        {{>reg-modal}}
        {{>log-modal}}
    {{/unless }}
</body>
</html>